@font-face {
    font-family: Yekan-Bakh;
    font-style: normal;
    font-weight: 100;
    src: url(../font/Yekan_Bakh_EN_01_Hairline.eot);
    src: url(../font/Yekan_Bakh_EN_01_Hairline.eot?#iefix) format('embedded-opentype'), url(../font/Yekan_Bakh_EN_01_Hairline.woff) format('woff'), url(../font/Yekan_Bakh_EN_01_Hairline.ttf) format('truetype')
}


@font-face {
    font-family: Yekan-Bakh;
    font-style: normal;
    font-weight: 400;
    src: url(../font/Yekan_Bakh_EN_04_Regular.eot);
    src: url(../font/Yekan_Bakh_EN_04_Regular.eot?#iefix) format('embedded-opentype'), url(../font/Yekan_Bakh_EN_04_Regular.woff) format('woff'), url(../font/Yekan_Bakh_EN_04_Regular.ttf) format('truetype')
}

@font-face {
    font-family: Yekan-Bakh-en-num;
    font-style: normal;
    font-weight: 400;
    src: url(../font/Yekan_Bakh_Number_EN_04_Regular.eot?1);
    src: url(../font/Yekan_Bakh_Number_EN_04_Regular.eot?#iefi1x) format('embedded-opentype'), url(../font/Yekan_Bakh_Number_EN_04_Regular.woff?1) format('woff'), url(../font/Yekan_Bakh_Number_EN_04_Regular.ttf?1) format('truetype')
}

@font-face {
    font-family: Yekan-Bakh-fa-num;
    font-style: normal;
    font-weight: 400;
    src: url(../font/Yekan_Bakh_Number_FA_04_Regular.eot);
    src: url(../font/Yekan_Bakh_Number_FA_04_Regular.eot?#iefix) format('embedded-opentype'), url(../font/Yekan_Bakh_Number_FA_04_Regular.woff) format('woff'), url(../font/Yekan_Bakh_Number_FA_04_Regular.ttf) format('truetype')
}

@font-face {
    font-family: Yekan-Bakh-en-num;
    font-style: normal;
    font-weight: 700;
    src: url(../font/);
    src: url(../font/Yekan_Bakh_Number_EN_06_Bold.eot?#ief1ix) format('embedded-opentype'), url(../font/Yekan_Bakh_Number_EN_06_Bold.woff?2) format('woff'), url(../font/Yekan_Bakh_Number_EN_06_Bold.ttf?2) format('truetype')
}

@font-face {
    font-family: Yekan-Bakh-fa-num;
    font-style: normal;
    font-weight: 700;
    src: url(../font/Yekan_Bakh_Number_FA_06_Bold.eot?1);
    src: url(../font/Yekan_Bakh_Number_FA_06_Bold.eot?#iefix) format('embedded-opentype'), url(../font/Yekan_Bakh_Number_FA_06_Bold.woff?1) format('woff'), url(../font/Yekan_Bakh_Number_FA_06_Bold.ttf?1) format('truetype')
}

@font-face {
    font-family: Yekan-Bakh;
    font-style: normal;
    font-weight: 700;
    src: url(../font/Yekan_Bakh_EN_06_Bold.eot);
    src: url(../font/Yekan_Bakh_EN_06_Bold.eot?#iefix) format('embedded-opentype'), url(../font/Yekan_Bakh_EN_06_Bold.woff) format('woff'), url(../font/Yekan_Bakh_EN_06_Bold.ttf) format('truetype')
}

@font-face {
    font-family: Yekan-Bakh;
    font-style: normal;
    font-weight: 900;
    src: url(../font/Yekan_Bakh_EN_08_Fat.ttf);

}



